<html>
<body>
<form method="post">
    <input type="text" name="name" placeholder="New name">
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
<div>{{name}}</div>

</body>


</html>